<template>
  <section>
    <b-button type="is-dark is-small" @click="increment()"> Up </b-button>
    <strong class="">{{ value }}</strong>
    <b-button type="is-dark is-small" @click="decrement()"> Down </b-button>
    <hr />
    <br />
    <button class="button block" @click="isActive = !isActive">Toggle</button>
    <b-notification :active.sync="isActive" aria-close-label="Close notification">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id hendrerit imperdiet, elit sapien laoreet elit
    </b-notification>
  </section>
</template>
<script>
export default {
  props: ['start'],
  data() {
    return {
      value: this.start,
      isActive: true
    }
  },
  methods: {
    increment() { this.value ++ },
    decrement() { this.value -- }
  }
};
</script>